*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url('../assets/bg-mobile-dark.jpg') no-repeat top center/cover;
}

body * {
  font-family: 'Inter', sans-serif;
  color: #fff;
}

#container{
  width: 22.5rem;
  height: 44.5rem;
  margin:  56px auto;
}

#profile{
  text-align: center;
  padding: 24px;
}

#profile img{
  width: 7rem;
}

#profile p{
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 8px;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  font-weight: 500;
  transition: background 0.2s;
}

ul li a:hover{
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid #fff;
}