*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url('../assets/bg-mobile-dark.jpg') no-repeat top center/cover;
}

body * {
  font-family: 'Inter', sans-serif;
  color: #fff;
}

#container{
  width: 22.5rem;
  height: 44.5rem;
  margin:  56px auto;
}

#profile{
  text-align: center;
  padding: 24px;
}

#profile img{
  width: 7rem;
}

#profile p{
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 8px;
}